/* .container_nav {
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    margin-top: 2.5rem;
    margin-left: -2rem;
}  */



/* @media (max-width: 576px) {
    .navbar a{
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .navbar a{
        flex-direction: column;
    }
} */

/* Media Queries */

/* Pantallas grandes (escritorio) */
