.button {
    position: absolute;
    right: 18rem;
    margin-top: 29rem;
    width: 5rem;
}

.button_blue {
    color: #fff;
    background-color: var(--blue_color);
}

.button_blue:hover {
    color: var(--grey-color);
    background: var(--yellow_color);
}

.button_grey {
    color: #fff;
    background-color: var(--grey_color);
}

.button_grey:hover {
    color: var(--yellow-color);
    background-color: var(--green_color);
}

.button_green {
    color: #fff;
    background-color: var(--green_color);
}

.button_green:hover {
    color: var(--black_color);
    background-color: var(--teal_color);
}

.button_red {
    color: #fff;
    background-color: var(--red_color);
}

.button_red:hover {
    color: var(--white-color);
    background-color: var(--teal_color);
}

.button_yellow {
    color: #fff;
    background: var(--yellow_color);
}

.button_yellow:hover {
    color: var(--black_color);
    background: var(--red_color);
}

.button_teal {
    color: #fff;
    background-color: var(--teal_color);
}

.button_teal:hover {
    color: var(--red-color);
    background-color: var(--grey_color);
}

.button_white {
    color: #fff;
    background: var(--white_color);
}

.button_white:hover {
    color: var(--blue_color);
    background: var(--yellow_color);
}

.button_black {
    color: #fff;
    background: var(--black_color);
}

.button_black:hover {
    color: var(--yellow_color);
    background: var(--white_color);
}

/* ---------FORMULARIO USUARIOS------------ */
.button_confirm {
    margin-left: 1rem;
    background: rgb(207, 236, 197);
    color: black;
    border: 2px solid rgb(14, 179, 14);
    box-shadow: inset 0 0 0 0 #20a904;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.button_cancelar:hover{
    background: rgb(114, 30, 30);
    border: none;
    
}

.button_confirm:hover {
    box-shadow: inset 0 0 0 50px #20a904;
    border: none;
    color: black;
}

.buttons_editar_usuario {
    margin-top: 16rem;
    display: flex;
    justify-content: center;
    position: absolute;
}

/* --------------BOTONES MIS FIELES-------------- */
.boton_Exit{
    font-size: 1.8rem;
    left: 12rem;
}

.boton_Exit:hover{
    color: green;
}

/* --------------BOTONES MIS TICKETS-------------- */
.boton_Exit{
    position: absolute;
    margin-top: 2rem;
    margin-left: -2rem;
}

@media(max-width: 576px){
    .boton_Exit {
        margin-left: -8rem;
    }
}

/*-------------BOTON DE SUBIR IMG Y CANCELAR------------------*/
.boton_add_img {
    width: 10rem;
    height: 2rem;
    border: none;
    background: #224b47;
    cursor: pointer;
    color: rgb(255, 251, 251);
    outline: none;

    box-shadow: inset 0 0 0 0 #55c0b3;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.boton_add_img:hover{
    color: #000000;
    box-shadow: inset 0 0 0 50px #55c0b3;
}

.boton_cancel_img {
    width: 10rem;
    height: 2rem;
    border: none;
    background: #ad1010;
    cursor: pointer;
    color: rgb(255, 251, 251);
    outline: none;

    box-shadow: inset 0 0 0 0 #db0707;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.boton_cancel_img:hover {
    color: #000000;
    box-shadow: inset 0 0 0 50px #fa0303;
}

/*-------------BOTON RESPONDER TICKET------------------*/

.button_reply_ticket {
    width: 10rem;
    height: 2rem;
    border: none;
    background: #224b47;
    cursor: pointer;
    color: rgb(255, 251, 251);
    outline: none;

    box-shadow: inset 0 0 0 0 #55c0b3;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.button_reply_ticket:hover {
    color: #000000;
    box-shadow: inset 0 0 0 50px #55c0b3;
}

.button_send {
    padding: 1rem;
    margin-top: -2rem;
}

/*-------------BOTON RESUELTO TICKET------------------*/
.boton_resuelto {
    width: 10rem;
    height: 2rem;
    border: 1px solid red;
    border-radius: 4rem;
    background: #f9f9f9;
    cursor: pointer;
    color: red;
    outline: none;
    margin-top: 0.8rem;

    box-shadow: inset 0 0 0 0 #ed1a1a;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

.boton_resuelto:hover {
    color: #fffbfb;
    box-shadow: inset 0 0 0 50px #ed1a1a;
}