:root {
    --blue_color: #007bff;
    --grey_color: #6c757d;
    --green_color: #28a745;
    --green_x: rgb(28, 173, 28);
    --red_color: #dc3545;
    --yellow_color: #ffc107;
    --teal_color: #17a2b8;
    --white_color: #f8f9fa;
    --black_color: #343a40;
    --nav_color: cadetblue;
    --form_color: lightskyblue;
    --orange_color: #ff8102;
}


/* ----------COLORS----------- */
.c_blue {
    color: var(--blue_color);
}

.c_grey {
    color: var(--grey_color);
}

.c_green {
    color: var(--green_color);
}

.c_red {
    color: var(--red_color);
}

.c_yellow {
    color: var(--yellow_color);
}

.c_teal {
    color: var(--teal_color);
}

.c_white {
    color: var(--white_color);
}

.c_black {
    color: black;
}

.c_orange {
    color: var(--orange_color);
}

.c_green_x {
    color: var(--green_x);
}

/* ---------BACKGROUD COLOR----------- */

.bg_blue {
    background: var(--blue_color);
}

.bg_grey {
    background: var(--grey_color);
}

.bg_green {
    background: var(--green_color);
}

.bg_red {
    background: var(--red_color);
}

.bg_yellow {
    background: var(--yellow_color);
}

.bg_teal {
    background: var(--teal_color);
}

.bg_white {
    background: var(--white_color);
}

.bg_black {
    background: var(--black_color);
}

.bg_nav {
    background: var(--nav_color);
}

.bg_form {
    color: var(--form_color);
}

.bg_orange {
    color: var(--orange_color);
}

/* ----------TEXT SHADOW COLOR----------- */
.text_sh_green {
    text-shadow: 1px 1px 12px rgb(13, 91, 22);
}

.text_sh_orange {
    text-shadow: 1px 1px 12px #b78206;
}