
    /* .table_ticketsTodos { 
        width: 3rem;
        border: 2px solid rgb(255, 0, 0);
    } */

    /* .table_ticketsTodos thead {
        width: 6rem;
        border: 2px solid rgb(255, 0, 0);
    } */

