/* .container_nav {
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    margin-top: 2.5rem;
    margin-left: 1rem;
} */

/* .navbar a {
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    text-align: center;
} */

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: blue;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a:hover {
    color: rgb(57, 137, 234);
}

/* @media (max-width: 576px) {
    .navbar a{
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .navbar a{
        flex-direction: column;
    }
} */

/* Media Queries */

/* Pantallas grandes (escritorio) */
