/* .icon_avatar {
  display: flex;
  position: absolute;
  right: 9rem;
  width: 4rem;
  border: 2px solid black;
  margin-top: 1.5rem;
  border-radius: 55px;
} */

/* .p_user{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 9px;
  font-size: 18px;
} */

/* .botonUser{
  margin-top: 6rem;
  position: absolute;
  left: 70rem;
  height: 2rem;
  width: 2rem;
} */