/* .icon_avatar {
  display: flex;
  position: absolute;
  right: 9rem;
  width: 4rem;
  border: 2px solid black;
  margin-top: 1.5rem;
  border-radius: 55px;
} */

.icon_avatar:hover{
  color: green;
  border-color: green;
  box-shadow: 10px 5px 5px red;
}

.cerrarSesionLink:hover{
  color: crimson;
  text-decoration: underline;
}

.configuracionLink:hover{
  color: green;
  text-decoration: underline;
}

.configIcon{
  position: absolute;
  font-size: 23px;
  left: 123px;
  text-align: justify;
}

.exitIcon{
  margin-top: 1px;
  position: absolute;
  font-size: 21px;
  left: 123px;
  text-align: justify;
}

.titleConf {
  font-family: mondaySans;
  font-size: 2rem;
}

.userText {
  font-family: mondaySans;
  font-size: 35px;
}

/* .p_user{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 9px;
  font-size: 18px;
} */

/* .botonUser{
  margin-top: 6rem;
  position: absolute;
  left: 70rem;
  height: 2rem;
  width: 2rem;
} */