
.table_ticketsTodos{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 75rem;
}

.table_ticketsTodos th, .table_ticketsTodos td {
    width: 8rem;
}

.text {
    font-size: 12px;
}

@media(max-width: 768px){
    .container_tableTickets table{
        justify-content: center;
        width: 45rem;
        
    }

@media(max-width: 425px){
    .container_tableTickets table{
        justify-content: center;
        width: 26rem;
        font-size: 7px;
    }
}

@media(max-width: 360px){
    .container_tableTickets table{
        justify-content: center;
        width: 22rem;
        font-size: 5px;
    }
}

    /* .table_ticketsTodos { 
        width: 3rem;
        border: 2px solid rgb(255, 0, 0);
    } */

    /* .table_ticketsTodos thead {
        width: 6rem;
        border: 2px solid rgb(255, 0, 0);
    } */

}