.components_header {
    display: flex;
    flex-direction: row;
    gap: 6px;
    justify-content: center;
    justify-items: center;
    background: rgb(184, 236, 255);
    width: 100vw; /* Asegurar que el ancho siempre sea igual al ancho del viewport */
    overflow-x: hidden; /* Evitar overflow horizontal */
    
}

.iconMelgar {
    position: absolute;
    width: 6rem;
    border-radius: 15rem;
    border: 1px solid rgb(19, 136, 157);
    margin-top: 0.3rem;
    left: 9rem;
}

.title_tickets{
    position: relative;
}

.icon_userHeader {
  display: flex;
  position: absolute;
  right: 9rem;
  width: 4rem;
  height: 4rem;
  border: 2px solid black;
  margin-top: 1.5rem;
  border-radius: 55px;
}

.container_nav {
    display: flex;
    margin-top: 2.5rem;
    margin-left: 1rem;
}

.navbar a {
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    text-align: center;
     /* Asegura que el pseudo-elemento ::before esté posicionado correctamente */
}

.icon_noti {
    /* display: flex;
    justify-content: center; */
    position: absolute;
    right: 16rem;
    margin-top: 2.5rem;
    font-size: 1.8rem;
    color: rgb(67, 28, 6);
    background: orange;
    border-radius: 15px;
}

@media (max-width: 1200px) {
    .components_header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .iconMelgar{
        left: 8rem;
        margin-top: 2rem;
    }
    
    .icon_noti {
        margin-top: -9rem;
        right: 14rem;
    }
    .icon_userHeader {
        margin-top: -3rem;
        right: 8rem;
    }
    .container_nav{
        justify-content: center;
    }
}
  
  @media (max-width: 992px) {
    .components_header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .iconMelgar{
        left: 4rem;
        margin-top: 1.5rem;
    }
    
    .icon_noti {
        margin-top: -9rem;
        right: 12rem;
    }
    .icon_userHeader {
        margin-top: -3rem;
        right: 5rem;
    }
    .container_nav{
        justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .components_header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .iconMelgar{
        left: 4rem;
        margin-top: 1.5rem;
    }
    
    .icon_noti {
        margin-top: -9rem;
        right: 12rem;
    }
    .icon_userHeader {
        margin-top: -3rem;
        right: 5rem;
    }
  }
  
  @media (max-width: 576px) {
    .components_header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .iconMelgar{
        left: 4rem;
        margin-top: 1.5rem;
    }
    
    .icon_noti {
        margin-top: -9rem;
        right: 9rem;
    }
    .icon_userHeader {
        margin-top: -3rem;
        right: 3rem;
    }
  }

  @media (max-width: 415px) {
    .components_header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .iconMelgar{
        left: 1rem;
        margin-top: 1.5rem;
    }
    
    .icon_noti {
        margin-top: -11rem;
        right: 6rem;
    }
    .icon_userHeader {
        margin-top: -5.5rem;
        right: 1rem;
    }
  }
